.ticket {
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;

  div {
    position: relative;

    .ticket__mini-header {
      position: absolute;
      top: 0.4rem;
      left: 0.6rem;
      font-size: 0.6rem;
      color: rgba(0, 0, 0, 0.4);
    }
  }

  .ticket__field {
    display: grid;
    align-items: center;
    padding-left: 1rem;
  }

  .ticket__what {
    grid-column: span 3;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);

    .ticket__name {
      font-family: var(--FONT-HEADERS);
      font-size: 1.8rem;
      color: var(--COLOR-COMPLEMENT);
    }
  }

  .ticket__where {
    color: rgba(0, 0, 0, 0.8);
    grid-column: span 3;
    background-color: rgba(0, 0, 0, 0.03);
  }

  .ticket__when,
  .ticket__from,
  .ticket__to {
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.06);
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
    border-top: 1px dashed rgba(0, 0, 0, 0.4);
  }

  .ticket__from {
    border: 1px dashed rgba(0, 0, 0, 0.4);
  }

  .ticket__info {
    grid-column: span 3;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.09);
  }

  .ticket__code {
    place-content: center;
    grid-column: span 3;
    color: rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.12);
    font-size: 0.8rem;
  }
}
