.event-link {
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: 100%;
  max-width: 400px;
  height: fit-content;
}

.event-link:hover {
  outline: 1px solid var(--COLOR-TRANS);
  outline-offset: 0.5rem;
  border-radius: 3px;
}

.event {
  color: var(--COLOR-TEXT);
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;

  .event__date {
    margin-top: 0.5rem;
    height: 4.5rem;
    aspect-ratio: 1;
    flex-shrink: 0;
    text-align: center;
    border: 1px solid var(--COLOR-TEXT);
    border-radius: 3px;
    display: grid;
    place-content: center;
  }

  .event__container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;

    .event__name {
      font-size: 1.5rem;
      font-weight: 600;
      text-shadow: 1px 1px 0 var(--COLOR-COMPLEMENT);
    }

    .event__where {
      font-size: 0.8rem;
      font-style: italic;
    }

    .event__time-price-container {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      border-bottom: 1px solid var(--COLOR-TRANS);

      padding-bottom: 0.5rem;

      .event__time {
        font-size: 0.9;
      }

      .event__price {
        font-size: 1.1rem;
        color: var(--COLOR-IMPORTANT);
      }
    }
  }
}
