.details {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.5rem;
}

.details__name {
  font-family: var(--FONT-HEADERS);
  font-size: 2rem;
  color: var(--COLOR-COMPLEMENT);
}

.details__date {
  color: var(--COLOR-IMPORTANT);
  font-weight: 600;
}

.details__where {
  color: var(--COLOR-LIGHT-GREY);
  font-style: italic;
}
