.tickets-page {
  position: relative;
  background: linear-gradient(var(--COLOR-COMPLEMENT), var(--COLOR-MAIN-BG));
  width: 100%;
  overflow: hidden;

  .tickets-page__h1 {
    color: var(--COLOR-TEXT);
  }
}

.swiper {
  margin: auto;
  width: 90%;
  max-width: 300px;
  height: 90vh;
  max-height: 500px;
}

.swiper-slide {
  border-radius: 3px;
  font-size: 22px;
  font-weight: bold;
  background-color: #f0f0f0;
}

.swiper-slide-active {
  background-color: var(--COLOR-TEXT);
  box-shadow: 0 1px 2px #8b8b8b;
}
