.landing {
  text-shadow: 1px 1px 1px black;
  padding-top: 22vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;

  .landing__h2 {
    font-family: var(--FONT-MAIN);
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
  }
  .logo-container {
    max-height: 178px;
    max-width: 182px;

    .logo-img {
      width: 100%;
      height: auto;
    }
  }
}
