/* FONT FACE */

@font-face {
  font-family: "Sansita One";
  src: url("/SansitaOne.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* CSS RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITY */

.off-screen {
  position: absolute;
  left: -10000px;
  /* detta är rekommenderad metod för sc-only enligt flera tillänglighetssidor jag läst. Och väldigt lätt att skriva */
}

/* VARIABLES */

:root {
  --COLOR-MAIN-BG: #231f42;
  --COLOR-COMPLEMENT: #f56b9a;
  --COLOR-IMPORTANT: #37aeab;
  --COLOR-TEXT: #fff;
  --COLOR-TRANS: rgba(255, 255, 255, 0.8);
  --FONT-MAIN: "Fira Sans", sans-serif;
  --FONT-HEADERS: "Sansita One", sans-serif;
}

/* GENERAL */

body {
  padding-top: 34px;
  background-color: var(--COLOR-MAIN-BG);
  color: var(--COLOR-TEXT);
  font-family: var(--FONT-MAIN);
}

h1 {
  color: var(--COLOR-COMPLEMENT);
  font-family: var(--FONT-HEADERS);
  font-size: 2rem;
}

.main {
  width: 80%;
  min-height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}
